.main{
    padding: 0.2rem 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.main h1{
    font-size: 1.5rem;
    color: rgb(95, 95, 95);
    text-align: center;
}
.main h2{
    text-align: center;
    margin: 0;
    font-size: 1rem;
    color: rgb(95, 95, 95);
}
.main img{
    height: 300px;
    width: 300px;
}