.footer {
  display: flex;
  /* border-top-left-radius: 5%;
  border-top-right-radius: 5%; */
  flex-direction: column;
  background-color: rgb(1, 37, 61);
  padding: 15px;
  padding-bottom: 30px;
  margin-top: 50px;
  align-items: center;
}
.footer>h3{
  font-size: 1rem;
  color: white;
}

.contributors{
  display: flex;
  font-family:'Poppins';
  width: 100%;
  margin-top: 15px;
  justify-content: space-around;
  gap: 1rem;
}

.contributors div{
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  justify-content: flex-start;
}

.contributors>div>h4{
  margin: 0;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 0.9rem;
  color: rgb(196, 196, 196);
}
.contributors>div>h5{
  margin: 3px 0;
  font-size: 0.75rem;
  font-weight: normal;
  color: rgb(196, 196, 196);
}
.contributors>div>h6{
  margin: 3px 0;
  font-size: 0.75rem;
  font-weight: normal;
  color: rgb(196, 196, 196);
}

@media (max-width: 600px) {
  
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */