.logoSection{
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  margin: 100px 0 2rem 0;
}
.logoSection h1 {
  color: #783ebb;
  margin: 1rem 0 0 0;
  font-family: 'Poppins';
  font-weight: 1000;
  letter-spacing: 0.4rem;
  font-size: 2.5rem;
}

.logoSection h1 span{
  font-style: italic;
  font-weight: bold;
  font-family: serif;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}
.logoSection p {
    margin: 0;
    margin-top: -15px;
    margin-left: -20px;
    font-size: 0.85rem;
    color: grey;
    letter-spacing: 0.3px;
    font-style:italic;
}