.logoSection{
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  margin: 50px 0 1rem 0;
}
.logoSection h1 {
  color: #0070f3;
  margin: 2rem 0 0 0;
  font-family: cursive;
  font-weight: 800;
  letter-spacing: 0.75rem;
  font-size: 3rem;
}

.logoSection h1 span{
  font-style: italic;
  font-weight: bold;
  font-family: serif;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}
.logoSection p {
    margin: 0;
    margin-top: -10px;
    margin-left: -20px;
    font-size: 0.85rem;
    color: grey;
    letter-spacing: 0.02rem;
    font-style:italic;
}