.nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    background-color: white;
    padding: 10px 15px;
    box-shadow: 1px 2px 20px gray;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav>p{
    margin: 0;
    color: rgb(0,112,243);
    font-weight: bold;
    align-self: center;
    cursor: pointer;
}
.nav>ul{
    display: flex;
    margin: 0;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.nav li{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: 'Poppins';
    color: rgb(104, 22, 199);
    font-weight: bold;
    letter-spacing: 1.5px;
}
.nav li:hover{
    color: rgb(172, 129, 221);
}
.nav button{
    width: 55px;
    background-color: transparent;
    cursor: pointer;
    padding: 3px 4px;
    text-align: center;
    margin: 0;
    border-radius: 3px;
    color: rgb(104, 22, 199);
    border: 1px solid;
    align-self: center;
    justify-self: center;
}

.nav button:hover{
    background-color: rgb(154,94,221);
    color: white;
    border: 1px solid rgb(154,94,221);
}